.produts {
    max-width: 100em;
    color: rgb(0, 100, 100);
    font-size: 100px;
    font-weight: bold;
}

.title {
    text-align: left;
    padding: 40px 0 0 100px;
}


.grid-main {
    overflow: hidden;
    max-width: 100%;
    padding: 40px 0 0 100px;
}


.imgs {
    max-width: 100%;
    height: auto;;
}

.box {
    background-color: black;
    
}
.dados-cliente {
    padding: 40px 0 0 100px;;
}

.text-field {
    padding: 100px 100px 0 100px;
    flex-direction: column;
    flex-wrap: wrap;
    display: inline-block;
}

.name-products {
    text-align: center;
    color: black;
}